/***********/
/* Tips    */
/***********/

div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}


/****************/
/*    Titles    */
/****************/

h1 { 
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 62px; 
  font-weight: 800; 
  line-height: 72px; 
  margin: 0 50 50px; 
  text-align: center; 
  text-transform: uppercase; 
  }

h2 { 
  color: #000000; 
  font-family: 'Raleway',sans-serif; 
  font-size: 32px; 
  font-weight: 700; 
  line-height: 52px; 
  margin: 0 5 5px; 
  text-align: left; 
  text-transform: uppercase; 
  }

h3 { 
  color: #000000; 
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 700; 
  line-height: 52px; 
  margin: 0 5 5px; 
  text-align: left; 
  text-transform: uppercase; 
  }

.title {
  width: 1100px; 
  margin: 0 auto;
  background-color: #257ed8; 
  text-align: center;
}

.footer {
  width: 1100px; 
  margin: 0 auto;
  background-color: #257ed8; 
  text-align: center;
}

.title p {
  font-size: 20px;
  color: #ffffff;
}

.footer p {
  font-size: 20px;
  color: #ffffff;
}

.top-warning {
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  width: 1100px; 
  margin: 0 auto;
  background-color: #dddddd; 
}

.items {
  width: 1100px; 
  margin: 0 auto;
  background-color: #ffffff; 
}

/*********************/
/*  Warning section  */
/*********************/

li{
  margin: 10px 0;
  font-family: 'Raleway',sans-serif;
}

p {
  font-family: 'Raleway',sans-serif; 
}

a {
  border-bottom: 1px dashed #aaaaaa;
  text-decoration: none;
  color: #000000;
}

a:hover {
  background-color: #257ed8;
}


/****************/
/* Tables style */
/****************/

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  align: center;
  table-layout: fixed;
}

table#certs {
  width: 100%;
}

table td, th {
  border: 1px solid #ddd;
  padding: 8px;
  word-wrap:break-word;
}

table#smallcells td, th {
  min-width: 70px;
  max-width: 180px;
}

table.footable td, th {
  max-width: 900px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #257ed8;
  color: white;
  word-wrap:break-word;
}

th.test tr {
  background-color: #ff7ed8;
  color: #ff7ed8;
  word-wrap:break-word;
}

/****************/
/*  Rules tabs  */
/****************/

#tabs {
  border: none;
  max-width:90%;
  background: #ffffff;
}

#tabs ul {
	list-style: none;
	background: #ffffff;
	border: none;
	display: table;
}

ul#horizontal-list li {
	display: inline;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	border: none;
}

#tabs li a {
  display:inline-block;
  width: 120px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-bottom: none;
}

.bg-primary {                                                                   
    color: #000;   
    background-color: #009688; 
} 
  
.bg-info {                                                                      
    color: #01579B;                                                             
    background-color: #B3E5FC;                                                  
}                                                                               
 
.bg-danger { 
    color: #000; 
    background-color: #EF9A9A; 
} 
                                                                              
.bg-warning { 
    color: #000;
    background-color: #FFF9C4; 
} 
                                                                                
.bg-success { 
    color: #1B5E20; 
    background-color: #C8E6C9; 
} 
