<div class="info">
	<p><strong>Info</strong></p>
	<ul>
	  <li>SSH administration should only be enabled if necessary (preferably with SSH running on a custom port with key-based authentication). If SSH is enabled, this setting can be found in the configuration file. <a href="https://docs.netgate.com/pfsense/en/latest/book/config/advanced-admin.html?highlight=secure%20shell#secure-shell-ssh">More on SSH</a> from pfSense documentation.</li>
	  <li>By default, pfSense webGUI accepts requests to port 80 (backward compatibility with older browsers) but automatically redirects traffic to port 443 (HTTPS). This feature can be disabled (not recommended). <a href="https://docs.netgate.com/pfsense/en/latest/book/config/advanced-admin.html?highlight=redirect#webgui-redirect">More on HTTP redirect</a> from pfSense documentation</li>
	  <li>Access to the webGUI can be restricted to trusted hosts by defining <a href="https://docs.netgate.com/pfsense/en/latest/firewall/restrict-access-to-management-interface.html">custom filtering rules</a>.</li>
	</ul>
</div>
