<div class="info">
	<p><strong>Info</strong></p>
	<ul>
		<li>Information about aliases can be found in <a href="https://docs.netgate.com/pfsense/en/latest/firewall/aliases.html">pfSense documentation</a>.</li>
	</ul>
</div>
