<div class="info">
	<p><strong>Info</strong></p>
	<ul>
		<li>WARNING: the server certificates embed privates keys, they should be stored carefully.</li>
		<li>Click on the lines to toggle the corresponding certificate (certificate and private key).</li>
		<li>Certificates are base64 encoded. Once decoded, they can then be interpreted using openssl CLI.</li>
	</ul>
</div>
