<div class="info">
	<p><strong>Info</strong></p>
	<ul>
		<li>PfSense has a whitelist <a href="https://docs.netgate.com/pfsense/en/latest/firewall/firewall-rule-basics.html">default policy</a>. Only explicitly allowed traffic passes.</li>
  	  <li>Indication on NAT related rules from <a href="https://docs.netgate.com/pfsense/en/latest/nat/forwarding-ports-with-pfsense.html">pfSense Documentaion</a>: when creating a NAT rule, pfSense allows automatically creating and maintaining the associated filtering rule.</li>
	  <li>As stated in the <a href="https://docs.netgate.com/pfsense/en/latest/book/firewall/firewall-rule-best-practices.html#firewall-logging-practices">documentation</a>: "Out of the box, pfSense does not log any passed traffic and logs all dropped traffic". Logging passed traffic can be enforced on a per rule basis (see configuration file).</li>
	  <li>This <a href="https://www.ssi.gouv.fr/uploads/IMG/pdf/NP_Politique_pare_feu_NoteTech.pdf">note from ANSSI</a> can be helpful when writing / auditing firewall rules</li>
	</ul>
</div>
