<div class="info">
	<p><strong>Info</strong></p>
	<ul>
	  <li>Newer versions of pfSense declare gateways in a separate configuration block. Older versions include the gateways declaration in the interfaces section.</li>
	  <li><a href="https://docs.netgate.com/pfsense/en/latest/routing/multi-wan.html#gateway-groups">Gateway groups</a> allow implementing load balancing or high availability for example.</li>
	  <li>Default gateways can either be defined on the first or the second subsection ("Default gateways" or "All gateways") depending on pfSense version (to confirm).</li>
	</ul>
</div>
