<div class="info">
	<p><strong>Info</strong></p>
	<ul>
		<li>Information about NAT can be found in <a href="https://docs.netgate.com/pfsense/en/latest/nat/index.html">pfSense documentation</a>.</li>
	</ul>
</div>
