<div class="info">
	<p><strong>Info - OpenVPN server</strong></p>
	<ul>
	  <li>As stated in the <a href="https://docs.netgate.com/pfsense/en/latest/vpn/openvpn/openvpn-remote-access-server.html?highlight=openvpn">documentation</a>, "using a TLS key is technically optional, but highly recommended". More specifically: ""A TLS key enhances security of an OpenVPN connection by requiring both parties to have a common key before a peer can perform a TLS handshake."</li>
	  <li>Compression should be <a href="https://docs.netgate.com/pfsense/en/latest/vpn/scaling.html?highlight=ncp#disable-compression">disabled</a>: "Though using compression is tempting to squeeze extra throughput out of slower links, it is both inefficient and insecure." See <a href="https://openvpn.net/security-advisory/the-voracle-attack-vulnerability/">VORACLE</a> vulnerability.</li>
	  <li>Strong cryptographic algorithms should be prefered:</li>
	  <ul>
		  <li>From the <a href="https://docs.netgate.com/pfsense/en/latest/vpn/scaling.html?highlight=ncp#use-negotiable-crypto-parameters"> documentation</a>: "NCP can be used to set preferences so that more efficient ciphers can be preferred by clients where possible, but others can be used when necessary. Set high-priority selections such as AES-128-GCM first, followed by others like AES-128-CBC."</li>
		  <li>Here are useful resources related to SSL VPNs and TLS: <a href="https://csrc.nist.gov/publications/detail/sp/800-52/rev-2/final">NIST SP800-52</a>, <a href="https://www.ssi.gouv.fr/guide/recommandations-de-securite-relatives-a-tls/">the ANSSI TLS guide</a> and this pfSense <a href="https://www.provya.net/?d=2014/08/02/08/28/30-pfsense-la-gestion-des-certificats-pour-les-connexions-openvpn">tutorial</a>.
	  </ul>
	</ul>
</div>
