<div class="info">
	<p><strong>Info</strong></p>
	<ul>
		<li>Information about aliases can be found in <a href="https://docs.netgate.com/pfsense/en/latest/monitoring/log-settings.html">pfSense documentation</a>.</li>
		<li><a href="https://docs.netgate.com/pfsense/en/latest/monitoring/adjusting-the-size-of-log-files.html">Adjusting the Size of Log Files:</a> Pfsense stores the logs in /var/log. All log files have the same maximum fixed size. When a log file limit is reached, older log entries are overwritten. Please inspect the config.xml file regarding this setting.
	</ul>
</div>
