<div class="info">
	<p><strong>Info</strong></p>
	<ul>
	  <li>Starting from pfSense 2.3, passwords are hashed using bcrypt algorithm (instead of MD5). We verify here that the admin password has not been left to the default ('pfsense').</li>
	  <li>If the table is <b>empty</b>, it means that you are analyzing an old pfsense version, before 2.3 (?) which only supports one user, weak password hashing algorithms... Please analyze the configuration file manually (system section).</li>
	  <li>Multiple <a href="https://docs.netgate.com/pfsense/en/latest/book/usermanager/user-management.html?highlight=users">users / groups</a> with various roles and <a href="https://docs.netgate.com/pfsense/en/latest/book/usermanager/user-management.html?highlight=user%20manager#privileges">privileges</a> can be defined.</li>
	  <li>Authentification can be performed by <a href="https://docs.netgate.com/pfsense/en/latest/book/usermanager/index.html?highlight=users">a third party application</a> (not handled by this script, please inspect the configuration file manually).</li>
	</ul>
</div>
